/*Reset de CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}

body * {
    font-family: "Inter", sans-serif;
    color: white;
}

#container{
    width: 360px;
    /*height: 712px;*/ 
    /*tinha essa altura para nós vermos o tamanho do container igual no protótipo, mas abandonamos isso e vamos fazer a mesma altura 
    ser feita com os conteúdos que vão entrar nesse container*/

    /*margin: auto;
    margin-top: 56px;*/ /*vamos melhorar:*/
    margin: 56px auto 0px;

}

#profile{
    text-align: center;
    padding: 24px; /*não tá específico, foi pra todos os lados*/ 
}

#profile img {
    border: 1px solid white;
    border-radius: 3000px;
    width: 112px; 
    
}

#profile p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}